.marquee {
  overflow: hidden;
  position: relative;

  > .box__container {
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__overlay.box {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    .box {
      width: 45%;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;

      @include media-query(palm) {
        width: 100%;
      }
    }

    @include media-query(palm) {
      margin-top: 270px;
      position: relative;
    }
  }

  &--large {
    height: 75vh;

    @include media-query(palm) {
      height: auto;
    }

    > .box__container {
      height: 75vh;

      @include media-query(palm) {
        height: 270px;
      }
    }

    .marquee__overlay.box {
      height: 75vh;

      @include media-query(palm) {
        height: auto;
      }
    }
  }

  &--small {
    height: 50vh;

    @include media-query(palm) {
      height: auto;
    }

    > .box__container {
      height: 50vh;

      @include media-query(palm) {
        height: 270px;
      }
    }

    .marquee__overlay.box {
      height: 50vh;

      @include media-query(palm) {
        height: auto;
      }
    }
  }
}

.accordion-cta-image {
  width: 270px;
  height: 180px;
  object-fit: cover;
}

.resource-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.grommet.app {
  position: relative;
  overflow: hidden;

  .split--fixed > * {
    height: auto;
  }
}
