.content-card {
  margin: halve($inuit-base-spacing-unit) 0;

  > .box {
    background-color: #fff;
  }

  &__thumbnail {
    width: 270px;

    @include media-query(palm) {
      width: 100%;
      height: 270px;
    }

    .anchor & {
      @include media-query(lap-and-up) {
        height: 100%;
      }
    }
  }

  .heading--uppercase {
    letter-spacing: normal;
  }

  div:focus,
  a:focus {
    outline: none;
  }

  &--direction-row {
    margin: halve($inuit-base-spacing-unit);
    flex-basis: $tile-large-size;

    .content-card__thumbnail {
      width: 100%;
      height: 270px;
    }
  }
}
