.callout {

  > .box {
    background-color: #fff;
  }

  &__thumbnail {
    width: 270px;

    @include media-query(palm) {
      width: 100%;
      height: 210px;
    }

    .anchor & {
      @include media-query(lap-and-up) {
        height: 100%;
      }
    }
  }

  .heading--uppercase {
    letter-spacing: normal;
  }

  div:focus,
  a:focus {
    outline: none;
  }
}
