.grommet .stack {

  &__label {
    letter-spacing: normal;
    margin-bottom: 0.25em;
  }

  &__headline {
    margin-bottom: 0.125em;
  }

  &__paragraph {
    &.grommetux-paragraph {
      margin-top: 0.125em;
      margin-bottom: 0.5em;
    }
  }

  &__print {
    &.grommetux-paragraph {
      margin-bottom: 0.333em;
    }
  }

  &__link {
    margin-top: 0.75em;
  }

  &--small {
    .stack__headline {
      @include media-query(portable) {
        font-size: $h4-font-size;
      }
    }
  }

  &--medium {
    .stack__headline {
      @include media-query(portable) {
        font-size: $h3-font-size;
      }
    }
  }

  &--large {
    .stack__headline {
      @include media-query(portable) {
        font-size: $h2-font-size;
      }
    }
  }

  &--xlarge {
    .stack__headline {
      font-size: $large-large-number-font-size;
      @include media-query(portable) {
        font-size: $h1-font-size;
      }
    }
  }

}

