@import 'objects.marquee';
@import 'objects.marquee-parallax';
@import 'objects.stack';

.grommet.grommetux-app {
  position: relative;
  overflow: hidden;

  .split--fixed > * {
    height: auto;
  }
}

.width-full {
  width: 100%;
}

.recent-news-section {
  @include media-query (palm) {
    padding-bottom: 0px;
  }
}

.columns-container,
.footer-cards-container {
  width: 100%;

  @include media-query (palm) {
    padding: 0px;

    .#{$grommet-namespace}card {
      border-right: none;

      &__content {
        // increase columns card padding in mobile
        padding: $inuit-base-spacing-unit;
      }

      // &.#{$grommet-namespace}background-color-index-light-1 {
      //   background-color: transparent;
      // }
    }
  }
}

.social-card {
  &-twitter,
  &-facebook,
  &-linkedin {
    .#{$grommet-namespace}control-icon {
      &-social-twitter,
      &-social-linkedin,
      &-social-facebook {
        // colorIndex doesn't set fill (only stroke)
        fill: $active-colored-icon-color;
      }
    }
  }

  &-twitter {
    background-color: $social-twitter-color;
  }

  &-facebook {
    background-color: $social-facebook-color;
  }

  &-linkedin {
    background-color: $social-linkedin-color;
  }
}
