.content-card {
  > .box {
    background-color: $background-color;
  }

  &__thumbnail {
    width: $inuit-base-spacing-unit * 11;

    @include media-query(palm) {
      width: 100%;
      height: $inuit-base-spacing-unit * 11;
    }

    .anchor & {
      @include media-query(lap-and-up) {
        height: 100%;
      }
    }
  }

  .heading--uppercase {
    letter-spacing: normal;
  }

  div:focus,
  a:focus {
    outline: none;
  }

  &--direction-row {
    .content-card__thumbnail {
      width: 100%;
      height: $inuit-base-spacing-unit * 11;
    }

    @include media-query(lap-and-up) {
      flex-basis: $tile-large-size;
    }

    @include media-query(palm) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
