@import 'objects.marquee';
@import 'objects.marquee-parallax';
@import 'objects.accordion';
@import 'objects.accordion-panel';
@import 'objects.callout';

.grommet.app {
  position: relative;
  overflow: hidden;

  .split--fixed > * {
    height: auto;
  }
}
