.box--size-half {
  width: 50%;
}

.marquee {
  height: 85vh;

  > .box__container {
    height: 85vh;
    display: flex;
    overflow: hidden;
  }

  &--fixed > .box__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.grommet.app {
  position: relative;
  overflow: hidden;
}
