.grommet .stack {

  &__label {
    letter-spacing: normal;
    margin-bottom: 0.375rem;
  }

  &__headline {
    margin-bottom: 0.5rem;
  }

  &__paragraph {
    &.grommetux-paragraph {
      margin-top: 0.25rem;
      margin-bottom: 0.5rem;
    }
  }

  &__print {
    &.grommetux-paragraph {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &__link {
    margin-top: 0.5rem;
  }

  &--small {
    .stack__headline {
      @include media-query(portable) {
        font-size: 18px;
      }
    }
  }

  &--medium {
    .stack__headline {
      @include media-query(portable) {
        font-size: 24px;
      }
    }
  }

  &--large {
    .stack__headline {
      @include media-query(portable) {
        font-size: 36px;
      }
    }
  }

  &--xlarge {
    .stack__headline {
      font-size: 64px;
      @include media-query(portable) {
        font-size: 48px;
      }
    }
  }

}
