.grommet .marquee {
  position: relative;

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  &--bg-left > .marquee__background {
    @include media-query(palm) {
      background-position: top left;
    }
  }

  &--bg-right > .marquee__background {
    @include media-query(palm) {
      background-position: top right;
    }
  }

  &__overlay.grommetux-box {
    z-index: 1;

    .grommetux-box {
      width: 50%;

      @include media-query(palm) {
        width: 100%;
      }

      .grommetux-headline--large {
        font-size: $large-large-number-font-size;

        @include media-query(portable) {
          font-size: $h2-font-size;
        }

        @include media-query(palm) {
          font-size: $h2-font-size;
        }
      }

      p {
        color: $inuit-base-text-color;
      }
    }
  }

  &--large {
    height: 75vh;

    @include media-query(palm) {
      height: auto;
    }

    .marquee__background {
      height: 75vh;

      @include media-query(palm) {
        height: 300px;
      }
    }

    .marquee__overlay.grommetux-box {
      height: 75vh;

      @include media-query(palm) {
        height: auto;
      }
    }

    .marquee__image {
      @include media-query(palm) {
        height: 300px;
      }
    }
  }

  &--small {
    height: 60vh;

    @include media-query(palm) {
      height: auto;
    }

    .marquee__background {
      height: 60vh;

      @include media-query(palm) {
        height: 270px;
      }
    }

    .marquee__overlay.grommetux-box {
      height: 60vh;

      @include media-query(palm) {
        height: auto;
      }
    }

    .marquee__image {
      @include media-query(palm) {
        height: 270px;
      }
    }
  }

  &--mobile-separator {
    @include media-query(palm) {
      border-bottom: 1px solid $border-color;
      margin-bottom: $inuit-base-spacing-unit;
    }
  }
}
