@import 'objects.marquee';
@import 'objects.marquee-parallax';
@import 'objects.accordion';
@import 'objects.accordion-panel';
@import 'objects.content-card';
@import 'objects.stack';

.grommet.grommetux-app {
  position: relative;
  overflow: hidden;

  .split--fixed > * {
    height: auto;
  }
}
