.grommet .stack {

  &__label {
    letter-spacing: normal;
    line-height: 1.5;
  }

  &__headline {
    line-height: 1.25;
  }

  &__paragraph {
    &.grommetux-paragraph {
      line-height: 1.5;
    }
  }

  &__print {
    &.grommetux-paragraph {
      line-height: 2;
    }
  }

  &__link {
    line-height: 2;
  }

  &--small {
    .stack__headline {
      @include media-query(portable) {
        font-size: 18px;
      }
    }
  }

  &--medium {
    .stack__headline {
      @include media-query(portable) {
        font-size: 24px;
      }
    }
  }

  &--large {
    .stack__headline {
      @include media-query(portable) {
        font-size: 36px;
      }
    }
  }

  &--xlarge {
    .stack__headline {
      font-size: 64px;
      @include media-query(portable) {
        font-size: 48px;
      }
    }
  }

}
