.marquee {
  overflow: hidden;
  position: relative;

  > .box__container {
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }

  &--bg-left > .box__container {
    @include media-query(palm) {
      background-position: top left;
    }
  }

  &--bg-right > .box__container {
    @include media-query(palm) {
      background-position: top right;
    }
  }

  &__overlay.box {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    .box {
      width: 50%;

      @include media-query(palm) {
        width: 100%;
      }

      .headline--large {
        font-size: $large-large-number-font-size;

        @include media-query(portable) {
          font-size: $h1-font-size;
        }

        @include media-query(palm) {
          font-size: $h2-font-size;
        }
      }
    }

    @include media-query(palm) {
      position: relative;
    }
  }

  &--large {
    height: 75vh;

    @include media-query(palm) {
      height: auto;
    }

    > .box__container {
      height: 75vh;

      @include media-query(palm) {
        height: 300px;
      }
    }

    .marquee__overlay.box {
      height: 75vh;

      @include media-query(palm) {
        height: auto;
        margin-top: 300px;
      }
    }
  }

  &--small {
    height: 60vh;

    @include media-query(palm) {
      height: auto;
    }

    > .box__container {
      height: 60vh;

      @include media-query(palm) {
        height: 270px;
      }
    }

    .marquee__overlay.box {
      height: 60vh;

      @include media-query(palm) {
        height: auto;
        margin-top: 270px;
      }
    }
  }

  &--mobile-separator {
    @include media-query(palm) {
      border-bottom: 1px solid $border-color;
      margin-bottom: $inuit-base-spacing-unit;
    }
  }
}
